@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap');

/* Reset Browser Defaults */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    font-family: Helvetica, sans-serif;
    background-color: rgb(155, 154, 154);
    padding-top: 120px;
    padding-bottom: 80px;
    height: 100vh;
}

header {
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    min-height: 80px;
    justify-items: center;
    align-items: center;
    gap: 40px;
}

nav ul {
    display: contents; 
}

nav ul li {
    display: contents; 
}

nav ul li a:link,
nav ul li a:visited {
    color: rgb(160, 225, 243);
}

nav ul li a:hover {
    color: rgb(229, 145, 0);
}

nav ul li a:active {
    color: rgb(92, 229, 0);
}

#current-page {
    color: aquamarine;
}

.container {
    display: grid;
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    max-width: 800px;
}

.form-section {
    display: grid;
}

/* Contact Form Area (Grid) */
#contact-form {
    display: grid;
    grid-template-areas:
        'heading heading'
        'description description'
        'name date'
        'email message'
        'phone message'
        '. submit';
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 60px;
    background: white;
    width: 800px;
    margin-top: 80px; /* Space between header and form */
}

h1 {
    margin-top: 10px;
}

h2 {
    grid-area: heading;
    font-size: 24pt;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    grid-area: description;
    font-size: 12pt;
    color: #000;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

label {
    color: black;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

input::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt; 
    color: #999; 
}

textarea{
    padding: 10px;
    width: 350px;
    height: 140px;
    resize: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #f0f4f7;
    font-size: 12pt;
    background-color: #f0f4f7;
}

textarea::placeholder,
select::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt; /* Adjust the font size as needed */
    color: black; /* Adjust the color as needed */
    font-weight: bold;
}

#contact-form input,
#contact-form select {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 12pt;
    border: none;
    background-color: #f0f4f7;
}

.phone-input-group {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

#contact-form .phone-input-group #country-code {
    padding: 10px;
    height: 38.67px;
    border-radius: 5px 0 0 5px;
    background-color: #f0f4f7;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

#contact-form .phone-input-group #phone-input {
    padding: 10px;
    border-radius: 0 5px 5px 0;
    background-color: #f0f4f7;
}

#contact-form input[type="date"] {
    padding: 8px;
}

#name-field {
    grid-area: name;
}

#email-field {
    grid-area: email;
}

#phone-field {
    grid-area: phone;
}

#date-input::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt; /* Adjust the font size as needed */
    color: black; /* Adjust the color as needed */
    font-weight: bold;
}

#message-field {
    grid-area: message;
}

#submit-field {
    grid-area: submit;
    text-align: right;
}

button {
    font-weight: bold;
    color: white;
    background-color: #446bec;
    border: none;
    padding: 15px 20px;
    font-size: 14pt;
    border-radius: 5px;
}

button:hover {
    background: #153e9c;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 16px;
}
