/* Reset Browser Defaults */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    font-family: Helvetica, sans-serif;
    background-color: white;
    padding-top: 120px;
    padding-bottom: 80px;
    height: 100vh;
}

header {
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin-top: 10px;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    min-height: 80px;
    justify-items: center;
    align-items: center;
    gap: 40px;
}

nav ul {
    display: contents; 
}

nav ul li {
    display: contents; 
}

nav ul li a:link,
nav ul li a:visited {
    color: rgb(160, 225, 243);
}

nav ul li a:hover {
    color: rgb(229, 145, 0);
}

nav ul li a:active {
    color: rgb(92, 229, 0);
}

#current-page {
    color: aquamarine;
}

main {
    display: grid;
    place-items: center;
    margin-top: 400px;
    font-size: 20pt;
}

#contact-form {
    display: grid;
    margin-top: 80px;
    grid-template-areas:
        'heading heading heading heading heading heading'
        'description description description description description description'
        'name name name email email email'
        'phone phone phone phone phone phone'
        '. . . . . .'
        '. . . . . .'
        '. . . . . .'
        '. . . . . .'
        'submit submit . . . .';
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 15px;
    padding: 60px;
    background: #3749e7;
    width: 600px;
}

#contact-form h2,
#contact-form h3 {
    width: 480px;
    color: white;
}

#contact-form h2 {
    grid-area: heading;
    font-size: 30pt;
    margin-bottom: 10px;
    text-align: justify;
    text-align-last: center;
}

#contact-form h3 {
    grid-area: description;
    font-size: 15pt;
    margin-bottom: 20px;
    text-align: justify;
    text-align-last: center;
}

#contact-form input,
#contact-form button {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14pt;
}

#name-field {
    grid-area: name;
}

#email-field {
    grid-area: email;
}

#phone-field {
    grid-area: phone;
}

#submit-field {
    grid-area: submit;
    text-align: center;
}

button {
    font-weight: bold;
    color: #1d4ed8;
    background: white;
    border: none;
    padding: 15px 20px;
    font-size: 14pt;
}

button:hover {
    background: #e0e0e0;
}

footer {
    display: grid;
    place-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 16px;
}
